<div class="stream-item">
  <div class="stream-item-content mood">
    <div class="mood-icon">
      <%=
      case @mood.mood
      when 1:
          '<img src="/images/mood-sad.jpg">'.html_safe
      when 2:
          '<img src="/images/mood-very_sad.jpg">'.html_safe
      when 3:
          '<img src="/images/mood-angry.jpg">'.html_safe
      when 4:
          '<img src="/images/mood-happy.jpg">'.html_safe
      when 5:
          '<img src="/images/mood-ok.jpg">'.html_safe
      when 6:
          '<img src="/images/mood-twink.jpg">'.html_safe
      when 7:
          '<img src="/images/mood-very_happy.jpg">'.html_safe
      else ''.html_safe
      end
      %>
    </div>
      <div class="mood-content">
         <div class="mood-row"><div class="mood-text"><%=  @mood.desc%></div></div>
         <div class="mood-row"><div class="mood-time"><%=@mood.report_time%></div></div>
      </div>
    </div>
 </div>
