<div id="diary" class="diary-widget hidden">
    <div class="hf">my<span class="diary-title">Feelogg</span></div>
    <div class="diary">
        <div class='diary-content'></div>
    </div>
    <div id="diary-loading" class="hidden loading"></div>
</div>