<div id="diduknow">
  <div class="hf">did you know?</div>
  <div class="dyk">
    <ul>
        <li id='empty-did-u-know'>After you feelogg for a while, this section will provide you with interesting insights about your mood...</li>
        <!--li>You are likely to be edgy tomorrow<br/>
        <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li-->
    </ul>
  </div>
</div>
