<div id="diduknow">
  <div class="hf">did you know?</div>
  <div class="dyk">
    <ul>
        <li id='empty-did-u-know'>Dr. FeelO'Good is currently getting to know you. He will have better, personalized recommendations for you as you Feelogg for a while...</li>
        <!--li>You are likely to be edgy tomorrow<br/>
        <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li-->
    </ul>
  </div>
</div>
