<div id="feelogood-widget" class="hidden">
    <div class="feelogood-content">
        <div class="dr-image"></div>
        <div>
            <div class="dr-title">Dr. FeelO'Good<span class="dr-title-says">&nbsp;says:</span></div>
            <div id="dr-recommendation" class="dr-recommendation"></div>
        </div>
    </div>
</div>