<div id="intro" class="hidden">
    <div class='feel-popup-top'>
         <img id="intro-mood-image" src="/images/Feeloggo48overWhite.gif">
         <span class='feel-popup-title'>Welcome to Feelogg!</span>
         <div id="intro-wait" class="hidden">
             <div id="intro-wait-loader"><img src="/images/ajax-loader.gif"/></div>
             <span>Feelogg currently analyzes your <br>information from Facebook. <br>This will take 2-3 minutes.</span>
         </div>
     </div>
     <div class='mood-color-line' id="intro-mood-color-line" style="background-color:white"></div>

    <div id="intro-0" class="intro-text">
        <div class="intro-part-top clearfix">
            <div class="intro-title">What can you do on Feelogg?</div>
            <div class="intro-step intro-step-current">1</div>
            <div class="intro-step" onclick="switchIntroView('0','1')">2</div>
            <div class="intro-step" onclick="switchIntroView('0','2')">3</div>
            <div class="intro-step" onclick="switchIntroView('0','3')">4</div>
            <div class="intro-step" onclick="switchIntroView('0','5')">5</div>
        </div>
        <div class="intro-part">
            <span style="font-weight:bold;color:white">Status Mood Updates</span>
            <p class="">
            Status updates don’t have to be so dry. Tell your friends how you feel about what you’re
            sharing. Select your mood, write your status update, and Feelogg will post it to the social
            networks of your choice.
            </p>
        </div>
        <div class="intro-control">
            <span class="intro-prev" style="visibility:hidden;">
               <img class="control-img" src="/images/Arrow-Left-bg56436D.gif"/>
               <span class="control-text intro-control-text">previous</span>
            </span>
            <span class="intro-next"  onclick="switchIntroView('0','1')">
                <span class="control-text intro-control-text">next</span>
                <img class="control-img" src="/images/Arrow-Right-bg56436D.gif"/>
            </span>
        </div>
    </div>
    <div id="intro-1" class="intro-text hidden">
        <div class="intro-part-top clearfix">
            <div class="intro-title">What can can you do on Feelogg?</div>
            <div class="intro-step" onclick="switchIntroView('1','0')">1</div>
            <div class="intro-step  intro-step-current">2</div>
            <div class="intro-step" onclick="switchIntroView('1','2')">3</div>
            <div class="intro-step" onclick="switchIntroView('1','3')">4</div>
            <div class="intro-step" onclick="switchIntroView('1','4')">5</div>
        </div>
        <div class="intro-part">
            <span style="font-weight:bold;color:white">Captain’s Logg: your private and public online diary</span>
            <p>
            Have you ever wanted to post something for your eyes only, like a feeling to remember, a
            moment to cherish, but to share with no one else? Feelogg lets you post your mood and status
            with or without sharing, and loggs your posts into a smart online diary. Check the FeeloGraph
            and myFeelogg for your mood over time and your diary entries. Visit the Settings page to control
            your defaults for sharing.
            </p>
        </div>
        <div class="intro-control">
            <span class="intro-prev" onclick="switchIntroView('1','0')">
               <img class="control-img" src="/images/Arrow-Left-bg56436D.gif"/>
               <span class="control-text intro-control-text">previous</span>
            </span>
            <span class="intro-next"  onclick="switchIntroView('1','2')">
                <span class="control-text intro-control-text">next</span>
                <img class="control-img" src="/images/Arrow-Right-bg56436D.gif"/>
            </span>
        </div>
    </div>
    <div id="intro-2" class="hidden intro-text">
        <div class="intro-part-top clearfix">
            <div class="intro-title">What can can you do on Feelogg?</div>
            <div class="intro-step" onclick="switchIntroView('2','0')">1</div>
            <div class="intro-step" onclick="switchIntroView('2','1')">2</div>
            <div class="intro-step  intro-step-current">3</div>
            <div class="intro-step" onclick="switchIntroView('2','3')">4</div>
            <div class="intro-step" onclick="switchIntroView('2','4')">5</div>
        </div>
        <div class="intro-part">
            <span style="font-weight:bold;color:white">Mood Drivers – what makes YOU tick?</span>
            <p>
            Over time, Feelogg analyzes your posts to give you insights on the things that make you happy
            or sad. Check the Happy/Gloomy Tags and ‘Did You Know?’ sections for such insights, so you can
            take action to become happier!
            </p>
        </div>
        <div class="intro-control">
            <span class="intro-prev" onclick="switchIntroView('2','1')">
               <img class="control-img" src="/images/Arrow-Left-bg56436D.gif"/>
               <span class="control-text intro-control-text">previous</span>
            </span>
            <span class="intro-next"  onclick="switchIntroView('2','3')">
                <span class="control-text intro-control-text">next</span>
                <img class="control-img" src="/images/Arrow-Right-bg56436D.gif"/>
            </span>
        </div>
    </div>
    <div id="intro-3" class="hidden intro-text">
        <div class="intro-part-top clearfix">
            <div class="intro-title">What can can you do on Feelogg?</div>
            <div class="intro-step" onclick="switchIntroView('3','0')">1</div>
            <div class="intro-step" onclick="switchIntroView('3','1')">2</div>
            <div class="intro-step" onclick="switchIntroView('3','2')">3</div>
            <div class="intro-step  intro-step-current">4</div>
            <div class="intro-step" onclick="switchIntroView('3','4')">5</div>
        </div>
        <div class="intro-part">
            <span style="font-weight:bold;color:white">Feel your Friends and ‘Feelter’ the rest!</span>
            <p>
            Social networks become crowded with tons of useless and boring information. How can you
            filter what matters in this pile of posts and tweets? Well, feelings matters. At Feelogg you see
            only those friends of yours who are happy or sad about something. That way you can easily
            identify meaningful moments for your friends, share their joy or support them when they need
            you.
            </p>
        </div>
        <div class="intro-control">
            <span class="intro-prev" onclick="switchIntroView('3','2')">
               <img class="control-img" src="/images/Arrow-Left-bg56436D.gif"/>
               <span class="control-text intro-control-text">previous</span>
            </span>
            <span class="intro-next"  onclick="switchIntroView('3','4')">
                <span class="control-text intro-control-text">next</span>
                <img class="control-img" src="/images/Arrow-Right-bg56436D.gif"/>
            </span>
        </div>
    </div>
    <div id="intro-4" class="hidden intro-text">
        <div class="intro-part-top clearfix">
            <div class="intro-title">What can can you do on Feelogg?</div>
            <div class="intro-step" onclick="switchIntroView('4','0')">1</div>
            <div class="intro-step" onclick="switchIntroView('4','1')">2</div>
            <div class="intro-step" onclick="switchIntroView('4','2')">3</div>
            <div class="intro-step" onclick="switchIntroView('4','3')">4</div>
            <div class="intro-step  intro-step-current">5</div>
        </div>
        <div class="intro-part">
            <span style="font-weight:bold;color:white">Happy, Happier, Happiest!</span>
            <p>
            We’re constantly developing Feelogg to make it a fun place and add features that would
            make you and others happier. Visit once a day for a while to see how feelogging makes you feel,
            check out our new features and give us Feedback (bottom-right corner or Contact Us) on how
            we can improve Feelogg for you.
            </p>
        </div>
        <div class="intro-control">
            <span class="intro-prev" onclick="switchIntroView('4','3')">
               <img class="control-img" src="/images/Arrow-Left-bg56436D.gif"/>
               <span class="control-text intro-control-text">previous</span>
            </span>
            <span class="intro-next"  onclick="$.modal.close()">
                <span class="control-text intro-control-text">close</span>
                <img class="control-img" src="/images/Arrow-Right-bg56436D.gif"/>
            </span>
        </div>
    </div>
</div>
