<div class="mys">
  <div class="fl2"><img src=<%= "'"+ @picture +"'"%>/></div>
  <div id="usr-status"></div>
  <div id="usr-report"></div>
</div>
<div id="usr-avg">
    <span class="usr-avg">Your weekly average:</span>
    <span id="usr-avg-img"></span>
    <span id="usr-avg-txt"class="usr-avg"></span>
</div>

