<div class="tag-cloud">
    <div class="act">my <span onclick="changeCloud()" class="gloomy cloud hidden">Gloomy &#9662 </span> <span onclick="changeCloud()" class="happy cloud">Happy &#9662 </span> Tags</div>
    <div id="empty-cloud" class="happy hidden"><span style="font-size:25px">Tags</span> <span style="font-size:20px">will</span> <span style="font-size:18px">become</span> </br><span style="font-size:25px">meaningful</span> <span style="font-size:10px">as you</span> <span style="font-size:25px">log</span> <span style="font-size:13px">your</span> </br><span style="font-size:25px">feelings</span> <span style="font-size:10px">for</span> <span style="font-size:15px">a while</span></div>
    <div id="happy-tag-cloud" class="cloud" style="width: 285px; height: 125px;position:relative"></div>
    <div id="gloomy-tag-cloud" class="cloud hidden" style="width: 285px; height: 125px;position:relative"></div>
</div>
