/* Subsection 1: CSS Reset */
body,
h1, h2, h3,
p, ul, li, form, input,
table, tr, td,
header, nav, article, section, dialog, figure, aside, footer,fieldset {
	border:0;
	margin:0;
	padding:0;
	font-size:100%;
}
body{
	background-color: #e5e2d3;
	font-family: "Helvetica";
}
a {
    text-decoration: none;
}
img{
	border: 0 none;
}

.fl{
	float: left;
	margin-right: 10px;
}



.frl{
    margin: 100px;
}

.mdl{
    margin: 150px;
}

.mt{
	font-family: "Helvetica";
	font-size: 16pt;
	color: #fff;
	font-weight: bold;
	padding-right: 2px;
}

.st{
	font-family: "Helvetica";
	font-size: 10pt;
	font-style: italic;
	color: #fff;
}

.ta{
	font-family: "Helvetica";
	font-size: 10pt;
	color: #949494;
}


.login-container{
	margin: 0 auto;
    width: 300px;
}

.login{
	position: relative;
    display: block;
    margin: 10px auto 0px;
    height: 400px;
    border-radius:10px;
    background-color:#403152;
}

.login-top{
    position:relative;
    left: 10px;
    top: 10px;
    width: 270px;
    margin: 10px auto 0px;
}

.login-top-name{
    color: white;
    font-family: Calibri;
    font-size: 34px;
    font-weight: bold;
}

.login-top-moto{
    color: white;
    font-family: Calibri;
    font-size: 24px;
    font-style: italic;
    margin-left: 50px;
}

.login-top-expl{
    color:#cccccc;
    font-family: Calibri;
    font-size: 16px;
    margin-top: 5px;
}


.login-bottom{
    position:relative;
    top: 50px;
    width: 270px;
    margin: 0px auto;
}
.login-bottom-fb{
}

.fb-login-img{
    position:relative;
    margin-top:20px;
    margin-left:100px;
}
.fb-login-img:hover{
    cursor:pointer;
}

.fb-login-txt{
    color: white;
    font-family: Calibri;
    font-size: 24px;
    font-style: italic;
}

.fb-login-txt-top{
    position:relative;
    float: left;
}

.fb-login-txt-bottom{
    position:relative;
    float:none;
    margin-left:50px;
}

.login-bottom-logo{
    margin-top:30px;
    margin-left: 28px;
}
#login-wrapper{

}
#wrapper{
   display:none;
}
/* start top part*/
.top{
	position: relative;
	height: 40px;
	background-color:#403152;
}
.logo{
	margin-left: 55px;
}

/* start middle part*/

.container{
	width: 300px;
	margin: 0 auto;
}

.content{
	position: relative;
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0px auto 5px;
    padding-top:5px;
    padding-bottom:5px;
}

.widget{
    display:none;
}

.hf{
	font-size: 18pt;
	color: #948a54;
	margin-bottom: 5px;
    margin-left: 15px;
}

.smileys-top{
    height:52px;
    margin-left:25px;
}
.smileys-down{
    height:52px;
    margin-left:50px;
}

.i1{
    margin:0px 4px;
	width: 255px;
	height: 55px;
	border: 1px solid #948a54;
	color: #948a54;
	padding: 0 2px;
}

.actions{
    position:relative;
    margin-left: 8px;
	text-align: right;
	margin-top: 5px;
	height: 30px;
	color: #948a54;
	font-size: 10pt;
}


.boxes{
    margin-left:3px;
}

.box{
    border-top-left-radius:50px 25px;
    border-top-right-radius:50px 25px;
    width: 92px;
    height: 40px;
    float:left;
    background-color:#403152;
    margin:2px;
}
.box-val{
    margin-top:12px;
    margin-left:40px;
	font-weight: bold;
    font:16px;
}
.happy-box{
   background-image:url('../images/mood-happy.png');
   background-repeat:no-repeat;
   background-position:center;
}

.sad-box{
    background-image:url('../images/mood-sad.png');
    background-repeat:no-repeat;
    background-position:center;
}
.box-hidden{
    display:none;
}
.box-text{
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
	color: #fff;
    text-align:center;
    margin-top:12px;
}

.smiley{
    position:relative;
    float: left;
	margin-right: 5px;
}

.smiley-selected{
    background:red;
    border-top:1px solid #EBEBEB;
    margin-top:-1px;
}

.smiley:hover{
    cursor:pointer;
    background:red;
    border-top:1px solid #EBEBEB;
    margin-top:-1px;
}


.dyk{
	color: #948a54;
	font-family: "Arial";
	font-size: 10pt;
}

.dyk UL{
	margin-left: 15px;
	list-style: square;
}

.dyk LI{
	margin-bottom: 7px;
}

.mys{
	font-size: 10pt;
    width: 270px;
    height:70px;
    background-color: #fff;
    border-radius: 20px;
    margin: 5px auto 5px;
    padding-top:5px;
}

.fl2{
	float: left;
    margin-top:5px;
	margin-left: 10px;
    margin-right: 10px;
}

.sl{
	margin-top: 24px;
	width: 265px;
	height: 85px;
}

.slt{
	padding: 30px 10px 10px 10px;
	color: #949494;
	font-weight: bold;
	font-size: 10pt;
}

.act{
	margin-top: 5px;
	margin-bottom: 5px;
    margin-left:5px;
	color: #948a54;
	font-size: 14pt;
}

.happy{
	color: #c0504d;
}

.gloomy{
	color: #17375e;
}

.credit{
    text-align: center;
	color: #948a54;
	font-size: 10pt;
}

.credit a{
 text-decoration: none;
}

.credit a:hover{
	text-decoration: underline	 ;
}

.moods-graph{
    margin-left:10px;
}

#ajax-busy{
    display: none;
}


.friend-icon{
    float: left;
    padding-right: 1px;
}

.friends-action{
    height: 96px;
    color: #948a54;
    margin-left:5px;
    font-size: 14pt;
}

.no-data{
    padding-top: 42px;
    padding-left: 50px;
    background-color:white;
}
/* MODAL FRIENDS DIALOG*/
.friend-icon:hover{
    cursor:pointer;
}

.modal-content{
    display: none;

}
/* Overlay */
#loading-modal-overlay {background-color:gray; cursor:wait;}

/* Container */
#loading-modal-container {height:150px; width:250px; color:gray; background-color:white; border:4px solid #444; padding:12px;}
#loading-modal-container .simplemodal-data {padding:8px;}
#loading-modal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#loading-modal-container a {color:#ddd;}
#loading-modal-container h3 {color:#84b8d9;}
#login-modal-content{
    display:none;
}

/* Overlay */
#friends-modal-overlay {background-color:gray; cursor:wait;}

/* Container */
#friends-modal-container {height:250px; width:250px; color:gray; background-color:white; border:4px solid #444; padding:12px;}
#friends-modal-container .simplemodal-data {padding:8px;}
#friends-modal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#friends-modal-container a {color:#ddd;}
#friends-modal-container h3 {color:#84b8d9;}
#friends-modal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#friends-modal-content{
    display:none;
}


/* jqtouch - toolbar*/
#jqt .toolbar {
    background-color:#403152;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #403152;
    padding: 10px;
    height: 40px;
    position: relative;
}
#jqt .black-translucent .toolbar {
    margin-top: 20px;
}
#jqt .toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
#jqt.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 3px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/button.png) 0 5 0 5;
}
#jqt .button.active,
#jqt .cancel.active,
#jqt .add.active {
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/buttonActive.png) 0 5 0 5;
}
#jqt .back {
    left: 3px;
    right: auto;
    padding: 0;
    max-width: 60px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/backButton.png) 0 8 0 14;
}
#jqt .back.active {
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/backButtonActive.png) 0 8 0 14;
}
#jqt .leftButton, #jqt .cancel {
    left: 6px;
    right: auto;
}
#jqt .add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
#jqt .bigButton {
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/bigButton.png) 0 12 0 12;
    border-width: 0 12px;
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 46px;
    text-align: center;
    text-decoration: inherit;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
}
#jqt .bigButton.active {
    -webkit-border-image: url(../utils/jqtouch/themes/default/img/bigButtonActive.png) 0 12 0 12;
    color: #000000;
}
/* end jqtouch toolbar*/


/* */



#loading {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0, .5) 0px 1px 1px;
    background: gray;
}



.touchable{

}